/* Begin Fluid Fest CSS*/
@font-face {
  font-family: futura-bt-medium;
  src: local("futura-md-bt-medium"), url(https://static1.squarespace.com/static/521b828be4b0152816dfb8f8/t/5d4610aa82811800015283f7/1564872874239/futura-md-bt-medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: futura-bt-bold;
  src: local("futura-bold-bt"), url(https://static1.squarespace.com/static/521b828be4b0152816dfb8f8/t/5d4610be8281180001528518/1564872894875/futura-bold-bt.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: futura-bt-heavy;
  src: local("futura-hv-bt-heavy.ttf"), url(https://static1.squarespace.com/static/521b828be4b0152816dfb8f8/t/5d4610c66069a60001f0d438/1564872902647/futura-hv-bt-heavy.ttf);
  font-weight: normal;
  font-style: normal;
}

/* general */
[id^="ff2019"] .Index-page-image:before {
  background-color: var(--nobackground);
}

[id^="ff2019"] *,
[id^="ff2019"] p {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
}

[id^="ff2019"] strong {
  font-family: futura-bt-bold, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

[id^="ff2019"] h1 {
  font-family: futura-bt-heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2.5em;
  line-height: 0.9em;
  text-transform: uppercase;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  letter-spacing: normal;
}

[id^="ff2019"] h1 b {
  color: #e17828;
}

[id^="ff2019"] h2 {
  font-family: futura-bt-bold, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #404040;
  font-size: 2em;
}

[id^="ff2019"] h3 {
  font-family: futura-bt-heavy, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #404040;
  font-size: 1.3em;
  text-transform: uppercase;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  letter-spacing: normal;
}

[id^="ff2019"] a {
  text-decoration: none;
  color: #e17828;
}

[id^="ff2019"] a:hover {
  color: #fdcb96;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

[id^="ff2019"] .sqs-block-button-element--small.sqs-block-button-element,
[id^="ff2019"] .sqs-editable-button,
[id^="ff2019"] .lightbox-handle.sqs-system-button.sqs-editable-button {
  background: #0ba2a8;
  border-radius: 4px;
  border: 0px;
  -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 10px 8px;
  margin: 5px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s 0s ease-out;
  transition: all 0.1s 0s ease-out;
}

[id^="ff2019"] .sqs-block-button-element--small.sqs-block-button-element:hover,
[id^="ff2019"] .sqs-editable-button:hover,
[id^="ff2019"] .lightbox-handle.sqs-system-button.sqs-editable-button:hover, [id^="ff2019"] .sqs-block-button-element--small.sqs-block-button-element:focus,
[id^="ff2019"] .sqs-editable-button:focus,
[id^="ff2019"] .lightbox-handle.sqs-system-button.sqs-editable-button:focus {
  background: #0db9c0;
  -webkit-box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.25s 0s ease-out;
  transition: all 0.25s 0s ease-out;
  color: #fdcb96;
}

[id^="ff2019"] .sqs-block-button-element--small.sqs-block-button-element:active,
[id^="ff2019"] .sqs-editable-button:active,
[id^="ff2019"] .lightbox-handle.sqs-system-button.sqs-editable-button:active {
  background: #098b90;
  -webkit-box-shadow: 0 1px 0px 0 rgba(11, 162, 168, 0.25);
          box-shadow: 0 1px 0px 0 rgba(11, 162, 168, 0.25);
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
  -webkit-transition: all 0.025s 0s ease-out;
  transition: all 0.025s 0s ease-out;
}

[id^="ff2019"] {
  background-color: #ffffff;
}

#ff2019-festivbanner,
#ff2019-festivbanner-1 {
  background-color: #0ba2a8;
}

@media screen and (max-width: 768px) {
  #ff2019-festivbanner figure.Index-page-image.loaded,
  #ff2019-festivbanner-1 figure.Index-page-image.loaded {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  #block-yui_3_17_2_1_1565335709531_4810,
  #block-fb5b86e1fa5264ec10cd {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  #block-yui_3_17_2_1_1565153504851_4966,
  #block-ebb42e46870ff0825577 {
    display: none !important;
  }
}

#block-yui_3_17_2_1_1565256639647_8158 {
  width: 1124px;
}

/*
.summary-item.summary-item-record-type-image.sqs-gallery-design-autogrid-slide {
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    tran
}
*/
/* -------------------------- wave footer animation ------------------------- */
/* ---------------------- html, body { height: 100%; } ---------------------- */
body {
  background: radial-gradient(ellipse at center, #fff8ea 0%, #fdcb96 35%, #58eef4 100%);
  overflow: hidden;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {
  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

/* End Fluid 2019 css */
/*# sourceMappingURL=fluid2019_squarespace_custom.css.map */