/* Begin Fluid Fest CSS*/


/*Colour Variables*/

:root {
    /* week 1 is green*/
    --week1-light: #b3dbc8;
    --week1-dark: #00a98d;
    /* week 2 is blue*/
    --week2-light: #8cc8ea;
    --week2-dark: #167bc0;
    /* Week 3 is red*/
    --week3-light: #F49886;
    --week3-dark: #EE3224;
    --nobackground: rgba(0, 0, 0, 0);
    /*
    h1 {
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
    }*/
}


/* Fluid Fest week 1 headers */

#know-the-rules-header,
#that-chnk-in-your-armour-header,
#dialogue-header,
#a-new-work-by-yukichi-hattori-header,
#my-tongue-your-ear-header,
#modern-woman-in-search-of-soul-header,
#high-trails-header,
#physical-therapy-cabaret-header {
    .Index-page-image:before {
        background-color: var(--nobackground);
    }
    h1,
    h2,
    h3 {
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        color: white;
    }
    h1 {
        font-family: futura-pt-bold, sans-serif;
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        text-shadow: 0.1em 0.08em var(--week1-dark);
    }
    h3 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
}


/* Fluid Fest week 2 headers */

#form-moving-forward-header,
#jezebel-at-the-still-point-header,
#kittly-bender-header,
#reawaken-header,
#container-header,
#a-fine-kind-of-madness-part-i-header,
#body-in-space-an-art-party-header {
    .Index-page-image:before {
        background-color: var(--nobackground);
    }
    h1,
    h2,
    h3 {
        color: white;
    }
    h1 {
        font-family: futura-pt-bold, sans-serif;
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        text-shadow: 0.1em 0.08em var(--week2-dark);
    }
    h3 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
}


/* Fluid Fest week 3 headers */

#lisbeth-gruwez-dances-bob-dylan-header,
#study-for-anima-darkroom-header,
#isolated-studies-header {
    .Index-page-image:before {
        background-color: var(--nobackground);
    }
    h1,
    h2,
    h3 {
        color: white;
    }
    h1 {
        font-family: futura-pt-bold, sans-serif;
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        text-shadow: 0.1em 0.08em var(--week3-dark);
    }
    h3 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
}


/*#ff2018schedule{
   background-color: var(week1-light);
}*/

#collection-5bb3cfdb1905f4dbb4623458,
#collection-5bb3d035a4222f7f3f7d6234,
#collection-5bb545e7e4966b8d08ad8645 {
    .Intro--has-image:before {
        background-color: var(--nobackground);
    }
    h1 {
        font-family: futura-pt-bold, sans-serif;
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        color: white;
    }
    h2 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 600;
    }
    h3 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    p {
        font-family: futura-pt, sans-serif !important;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }
}

#festiv_banner,
#festivbanner-1 {
    .Index-page-image:before {
        background-color: var(--nobackground);
    }
    h1 {
        font-family: futura-pt-bold, sans-serif;
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        text-shadow: 0.1em 0.08em var(--week3-dark);
    }
    h2 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: white;
    }
    h3 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 35px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
}

#ff2018-deepdive {
    h1 {
        font-family: futura-pt-bold, sans-serif;
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
        text-shadow: 0.1em 0.08em var(--week3-dark);
        color: var(week1-light);
    }
    h2 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        text-transform: uppercase;
        color: var(--week3-dark);
    }
    h3 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        color: var(--week3-light);
    }
    a {
        color: var(--week3-dark);
    }
}

#festabout,
#collection-5bb54afa652deaac13436486 {
    .Index-page-image:before {
        background-color: var(--nobackground);
    }
    h1 {
        font-family: futura-pt-bold, sans-serif;
        line-height: 1.2em;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.09em;
    }
    h2 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 600;
    }
    h3 {
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    p {
        font-family: futura-pt, sans-serif !important;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }
}


/*Fluid Button Style*/


/*Week 1*/

#know-the-rules-info,
#that-chnk-in-your-armour-info,
#dialogue-info,
#a-new-work-by-yukichi-hattori-info,
#my-tongue-your-ear-info,
#modern-woman-in-search-of-soul-info,
#physical-therapy-cabaret-info,
#high-trails-info {
    a.sqs-block-button-element--small.sqs-block-button-element {
        color: #black !important;
        border: 5px solid #B7DCC7 !important;
        box-shadow: 10px 5px #00AB8E;
        -webkit-box-shadow: 10px 5px #00AB8E;
        -moz-box-shadow: 10px 5px #00AB8E;
        box-shadow: 10px 5px #00AB8E;
        background-color: #B7DCC7 !important;
    }
}

#know-the-rules-info,
#that-chnk-in-your-armour-info,
#dialogue-info,
#a-new-work-by-yukichi-hattori-info,
#my-tongue-your-ear-info,
#modern-woman-in-search-of-soul-info,
#physical-therapy-cabaret-info,
#high-trails-info {
    a.sqs-block-button-element--small.sqs-block-button-element:hover {
        color: #00AB8E !important;
        background-color: #B7DCC7 !important;
        border: 5px solid #00AB8E !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-transition: .2s webkit-box-shadow ease-in-out;
        -moz-transition: .2s moz-box-shadow ease-in-out;
        -o-transition: .2s box-shadow ease-in-out;
        transition: .2s box-shadow ease-in-out;
    }
}


/*Week 2*/

#form-moving-forward-info,
#jezebel-at-the-still-point-info,
#kittly-bender-info,
#reawaken-info,
#container-info,
#a-fine-kind-of-madness-part-i-info,
#body-in-space-an-art-party-info {
    a.sqs-block-button-element--small.sqs-block-button-element {
        color: #black !important;
        border: 5px solid var(--week2-light) !important;
        box-shadow: 10px 5px var(--week2-dark);
        -webkit-box-shadow: 10px 5px var(--week2-dark);
        -moz-box-shadow: 10px 5px var(--week2-dark);
        box-shadow: 10px 5px var(--week2-dark);
        background-color: var(--week2-light) !important;
    }
    a.sqs-block-button-element--small.sqs-block-button-element:hover {
        color: var(--week2-dark) !important;
        background-color: var(--week2-light) !important;
        border: 5px solid var(--week2-dark) !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-transition: .2s webkit-box-shadow ease-in-out;
        -moz-transition: .2s moz-box-shadow ease-in-out;
        -o-transition: .2s box-shadow ease-in-out;
        transition: .2s box-shadow ease-in-out;
    }
}

#form-moving-forward-info,
#jezebel-at-the-still-point-info,
#kittly-bender-info,
#reawaken-info,
#container-info,
#a-fine-kind-of-madness-part-i-info,
#body-in-space-an-art-party-info {}


/*Week 3*/

#lisbeth-gruwez-dances-bob-dylan-info,
#study-for-anima-darkroom-info,
#isolated-studies-info,
#block-yui_3_17_2_1_1538603386361_24803 {
    a.sqs-block-button-element--small.sqs-block-button-element {
        color: #black !important;
        border: 5px solid var(--week3-light) !important;
        box-shadow: 10px 5px var(--week3-dark);
        -webkit-box-shadow: 10px 5px var(--week3-dark);
        -moz-box-shadow: 10px 5px var(--week3-dark);
        box-shadow: 10px 5px var(--week3-dark);
        background-color: var(--week3-light) !important;
    }
    a.sqs-block-button-element--small.sqs-block-button-element:hover {
        color: var(--week3-dark) !important;
        background-color: var(--week3-light) !important;
        border: 5px solid var(--week3-dark) !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -webkit-transition: .2s webkit-box-shadow ease-in-out;
        -moz-transition: .2s moz-box-shadow ease-in-out;
        -o-transition: .2s box-shadow ease-in-out;
        transition: .2s box-shadow ease-in-out;
    }
}