/* Begin Fluid Fest CSS*/

// mixins
// Convert illustrator, indesign and photoshop tracking into letter spacing.
@function tracking($target) {
  @return ($target / 1000) * 1em;
}

@mixin tracking($target) {
  letter-spacing: tracking($target);
}

// might be able to use truncate for the "D" in fluid this year
@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
} //Usage: @include transition(all, 0.2s, ease-in-out);

@function black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}
@function white($opacity) {
  @return rgba(255, 255, 255, $opacity);
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@import "global/variables";

/* general */
%headerfonts {
}

%fluidfeststyle {
  .Index-page-image:before {
    background-color: var(--nobackground);
  }
  *,
  p {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: $basetext;
  }
  strong {
    font-family: $font-bold;
    font-weight: normal;
    font-style: normal;
    font-size: $basetext;
  }
  h1 {
    font-family: $font-heavy;
    font-weight: normal;
    font-style: normal;
    font-size: $t-largest;
    line-height: $leading-tight;
    text-transform: uppercase;
    font-kerning: auto;
    letter-spacing: normal;
    b {
      color: $fluid-prime-orange;
    }
  }
  h2 {
    font-family: $font-bold;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: $charcoal;
    font-size: $t-larger;
  }
  h3 {
    font-family: $font-heavy;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: $charcoal;
    font-size: $t-large;
    text-transform: uppercase;
    font-kerning: auto;
    letter-spacing: normal;
  }

  a {
    text-decoration: none;
    color: $c-link;
    &:hover {
      color: $c-link-hover;
      transition: $transition-color;
    }
  }
  .sqs-block-button-element--small.sqs-block-button-element,
  .sqs-editable-button,
  .lightbox-handle.sqs-system-button.sqs-editable-button {
    //todo
    @extend %allbuttons;
  }
  hr {
  }
}
%allbuttons {
  //todo
  background: $c-button;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: $white;
  display: inline-block;
  padding: 6px 10px 8px;
  margin: 5px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
  &:hover,
  &:focus {
    //todo
    background: lighten($c-button, 5);
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
    color: $c-link-hover;
  }
  &:active {
    background: darken($c-button, 5);
    box-shadow: 0 1px 0px 0 rgba($fluid-prime-teal, 0.25);
    transform: translate3d(0, 2px, 0);
    transition: all 0.025s 0s ease-out;
  }
}

[id^="ff2019"] {
  @extend %fluidfeststyle;
  background-color: $white;
}

#ff2019-festivbanner,
#ff2019-festivbanner-1 {
  background-color: $fluid-prime-teal;
  & figure.Index-page-image.loaded {
    @media screen and (max-width: $tablet) {
      //hide horizontal image on mobile
      display: none !important;
    }
  }
}
#block-yui_3_17_2_1_1565335709531_4810,
#block-fb5b86e1fa5264ec10cd {
  @media screen and (max-width: $tablet) {
    //hide horizontal image on mobile
    display: none !important;
  }
}
//hide verticle image on desktop
@media screen and (min-width: $tablet + 1) {
  #block-yui_3_17_2_1_1565153504851_4966,
  #block-ebb42e46870ff0825577 {
    display: none !important;
  }
}

// widen the code black on the festival page
#block-yui_3_17_2_1_1565256639647_8158 {
  width: 1124px;
}

#ff2019-festabout {
}
/*
.summary-item.summary-item-record-type-image.sqs-gallery-design-autogrid-slide {
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    tran
}
*/

/* -------------------------- wave footer animation ------------------------- */
/* ---------------------- html, body { height: 100%; } ---------------------- */

body {
  background: radial-gradient(
    ellipse at center,
    rgb(255, 248, 234) 0%,
    rgba($fluid-secondary-light, 1) 35%,
    $fluid-teal-light 100%
  );
  overflow: hidden;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
/* End Fluid 2019 css */
