/* Begin Fluid Fest CSS*/

// mixins 
// Convert illustrator, indesign and photoshop tracking into letter spacing.
@function tracking($target) {
    @return ($target / 1000) * 1em;
}

@mixin tracking($target) {
    letter-spacing: tracking($target);
}

// might be able to use truncate for the "D" in fluid this year
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@import "global/variables";
@-webkit-keyframes hvr-back-pulse {
    50% {
        background-color: rgba($c-button-hover, 0.75);
    }
}

@keyframes hvr-back-pulse {
    50% {
        background-color: rgba($c-button-hover, 0.75);
    }
}


/* general */

%fluidfeststyle {
    .Index-page-image:before {
        background-color: var(--nobackground);
    }
    * {
        font-family: $font-body;
        font-weight: $f-medium;
        font-style: normal;
        font-size: $basetext;
        @include tracking($tracknormal);
    }
    h1 {
        font-family: $font-heavy;
        font-weight: normal;
        font-style: normal;
        font-size: $t-largest;
        line-height: $leading-tight;
        text-transform: uppercase;
        font-kerning: auto;
        letter-spacing: normal;
    }
    h2 {
        font-family: $font-bold;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        color: $charcoal;
        font-size: $t-larger;
    }
    h3 {
        font-family: $font-heavy;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        color: $charcoal;
        font-size: $t-large;
        text-transform: uppercase;
        font-kerning: auto;
        letter-spacing: normal;
    }
    strong,
    b {
        font-family: $font-bold;
        font-weight: normal;
        font-style: normal;
        font-size: $basetext;
    }
    a {
        text-decoration: none;
        color: $c-link;
        &:hover {
            color: $c-link-hover;
            transition: $transition-color;
        }
        &.sqs-block-button-element--small.sqs-block-button-element {
            //todo 
            background: $c-button;
            color: $c-button-text;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            overflow: hidden;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: color, background-color;
            transition-property: color, background-color;
            &:hover,
            &:focus,
            &:active {
                //todo
                -webkit-animation-name: hvr-back-pulse;
                animation-name: hvr-back-pulse;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                background-color: $c-button-hover;
                color: white;
            }
        }
    }
}

#festivbanner-1 {
    @extend %fluidfeststyle;
}

[id^="ff2019"] {
    @extend %fluidfeststyle;
    background-color: $white;
}


/* End Fluid 2019 css */