/* -------------------------------------------------------------------------- */
/*                     For specific fixes and ID selectors                    */
/* -------------------------------------------------------------------------- */

/* -------------------- //hide horizontal image on mobile ------------------- */

#block-yui_3_17_2_1_1565335709531_4810,
#block-fb5b86e1fa5264ec10cd,
#block-yui_3_17_2_1_1567050902431_20644,
#block-yui_3_17_2_1_1567058413576_4682 {
  @media screen and (max-width: $tablet) {
    display: none !important;
  }
}

/* -------------------- //hide verticle image on desktop -------------------- */

@media screen and (min-width: $tablet + 1) {
  #block-yui_3_17_2_1_1565153504851_4966,
  #block-ebb42e46870ff0825577 {
    display: none !important;
  }
}

/* -------------- // widen the code black on the festival page -------------- */

#block-yui_3_17_2_1_1565256639647_8158,
#block-yui_3_17_2_1_1569623682203_3765 {
  width: auto;
}

/* ----------------- // hide the hr line on fluid main page ----------------- */

#block-yui_3_17_2_1_1567050902431_6133 {
  display: none;
}
/*
#block-yui_3_17_2_1_1567050902431_20644 .thumb-image.loaded {

}
*/
